---
layout: feature
title:  Video equipment
date:   2016-04-08 12:38:00
categories: features
feature_css: features/2016/04/08/video-equipment.css
---

%h1 Meetup & conference video equipment

%p
  A little while ago we started getting over subscribed for the JavaScript group
  %a{ href: "http://www.meetup.com/BristolJS/", target: "_blank" }Bristol JS
  that I run. I wanted to give everybody who wanted the chance to watch the talks but we simply didn't have the capacity.

%p
  Filming the talks is a great way to give these people a chance to do so whilst opening our content out to the wider community.

%p
  We had some quite shoddy equipment to begin with which involved me filming the talks on my iPhone but when we started taking on sponsors this year we decided to give this equipment  an overhaul.

%p
  I was surprised to not find any information on what equipment was recommended. The closest thing I could find was
  %a{ href: "http://blog.confreaks.net/2010/10/my-recording-equipment/", target: "_blank" }this blog post
  from back in 2010. I decided that once I got all our gear sorted I'd write about it.

%p
  So here it is, a comprehensive guide of the equipment we use and why we use it. If you have any questions you can email me on
  %a{ href: "mailto:adam@lab.io?Subject=Message from lab.io", target: "_blank" } adam@lab.io

#video-equipment
  #video-equipment-images
  #video-equipment-sections
    #video-equipment-section-1
      %div
        %h2 Laptop
        %p
          The setup allows for multiple screens to be connected and switched easily but is limited to devices with HDMI.
          Digital outputs like display port can also be supported with
          %a{ href: "http://amzn.to/1UPMJby", target: "_blank" } adapters.
        %p You can follow the dotted lines to see how all the equipment is connected.
    #video-equipment-section-2
      %div
        %h2 HDMI Switch
        %p
          The switch makes the handover to speakers seamless by pressing one button and does not interrupt video recording further down the line. We use the
          %a{ href: "http://amzn.to/1UPN7Hd", target: "_blank" } Betron 3 Port HDMI Switch.
    #video-equipment-section-3
      %div
        %h2 HDMI Splitter
        %p
          This is the secret sauce of having a good setup. Sometimes we go out to two screens making the splitter necessary without forcing the speaker to go into mirrored mode.
        %p
          The splitter however serves an additional purpose in that it strips DRM meaning your captures won't fail in the middle of the talk. We use
          %a{ href: "http://amzn.to/1Mm8e10", target: "_blank" } this one
          from Portta.
    #video-equipment-section-4
      %div
        %h2 Capture Device & Mic
        %p
          Software capture is hard to organise, inconsistent and can slow down a machine that is already having a hard time running two screens.
        %p
          Hooking up a capture device also means you can get a single recording of the whole night making editing much easier.
        %p
          The
          %a{ href: "http://amzn.to/1S2Ee9u", target: "_blank" }
          mic
          simply captures the speaker without much background noise
    #video-equipment-section-5
      %div
        %h2 Screen
        %p
          You often don't have the control about where the content is displayed but if you do I'd highly recommend a TV for audiences up to 100 people and a high lumens projector for anything larger.
        %p
          Most presenters will write there slides in 16:9 (1920 x 1080) these days so keep this in consideration and let your speakers know your setup early.
    #video-equipment-section-6
      %div
        %h2 Camcorder
        %p You could just record the screen but body language says so much. I'd recommend investing in a low to mid range camcorder to capture your talks speakers.
        %p The video quality should be good enough that it isn't distracting, battery life and quality of the microphone if far more important in my experience.
        %p
          We use a
          %a{ href: "http://amzn.to/1Mm8XPK", target: "_blank" } Sony HDRPJ810
          that I picked up on an Amazon lightning deal for just £399. It has built in memory but we use a
          %a{ href: "http://amzn.to/1Mm9m4I", target: "_blank" } high speed SD card
          so I don't have the take the camera with me when I'm editing.


    #video-equipment-section-7
      %div
        %h2 Syncing
        %p
          Great now you've got the content in a few places, you might have noticed that the audio has been captured in two places this is for two reasons.
        %p 1. Synchronisation of the camcorder and capture device can be done automagicly with the audio.
        %p 2. The capture device mic is great for picking up the speaker without background noise, but the camera mic is great capturing the audio during Q&A.
    #video-equipment-section-8
      %div
        %h2 Final Cut Pro X
        %p
          Editing is made super easy with
          %a{ href: "https://itunes.apple.com/gb/app/final-cut-pro/id424389933?mt=12" } Final Cut Pro X.
          Just make a multi-cam clip from your two sources, drop it into a project, open the multi-cam view and simply click the source you want shown whist watching back in real-time.
        %p Pro tip: If your tight for time you can do this at 2x speed using the timewarp feature.
        %p
          We use a
          %a{ href: "http://amzn.to/1Mm9SzL", target: "_blank" } 2TB external HDD
          since most of these projects reach at least 20GB.

%h2 equipment breakdown

%table
  %thead
    %th Item
    %th Units
    %th Cost (time of purchase)
    %th Cost (time of writing)
  %tbody
    %tr
      %td
        %a{ href: "http://amzn.to/1UPMJby", target: "_blank" } DisplayPort to HDMI Adapter
      %td 1
      %td £5.99
      %td £5.99
    %tr
      %td
        %a{ href: "http://amzn.to/1UPN7Hd", target: "_blank" } Betron 3 Port HDMI Switch.
      %td 1
      %td £7.99
      %td £6.99
    %tr
      %td
        %a{ href: "http://amzn.to/1Mm8e10", target: "_blank" } Portta 2 Port 1x2 Hdmi Splitter
      %td 1
      %td £9.99
      %td £9.99
    %tr
      %td
        %a{ href: "http://amzn.to/1UPSwOg", target: "_blank" } AVerMedia C875 - HD Capture
      %td 1
      %td £94.99
      %td £92.99
    %tr
      %td
        %a{ href: "http://amzn.to/1Mm8XPK", target: "_blank" } Sony HDRPJ810 Full HD Camcorder
      %td 1
      %td £399.00
      %td £548.99
    %tr
      %td
        %a{ href: "http://amzn.to/1Mm9m4I", target: "_blank" } SanDisk Extreme 64 GB SDXC Class 10 Memory Card
      %td 2
      %td £23.99
      %td £24.91
    %tr
      %td
        %a{ href: "http://amzn.to/1Mm9SzL", target: "_blank" } Seagate 2TB USB 3.0 HDD
      %td 1
      %td £59.99
      %td £64.99
    %tr
      %td
        %a{ href: "https://itunes.apple.com/gb/app/final-cut-pro/id424389933?mt=12", target: "_blank" } Final Cut Pro X.
      %td 1
      %td £229.99
      %td £229.99
    %tr
      %td
        %a{ href: "http://amzn.to/1UPR8eA", target: "_blank" } Short HDMI leads
      %td 2
      %td £1.56
      %td £1.55
    %tr
      %td
        %a{ href: "http://amzn.to/1MmauW6", target: "_blank" } 10ft HDMI leads
      %td 2
      %td £6.49
      %td £6.49
    %tr
      %td
        %a{ href: "http://amzn.to/1UPRou9", target: "_blank" } Sony Ultra Compact Case for Handycam
      %td 1
      %td £23.99
      %td £23.99
    %tr
      %td
        %a{ href: "http://amzn.to/1S2Ee9u", target: "_blank" } Fifine 3.5mm Condenser Studio Microphone
    %thead
      %th
      %th Total
      %th
        £908.22
      %th
        %b £1062.03


