<div class="sidebar">

  <img src="/assets/avatar.jpg">

  <br><br>

  <h2 class="tight">{{ site.display_title }}</h2>
  <h3 class="tight">Adam Butler</h3>

  <br>

  <a href="mailto:{{ site.email }}">
    <i class="icon-paper-plane"></i>
    {{ site.email }}
  </a>

  <a href="https://github.com/{{ site.github_username }}">
    <i class="icon-github"></i>
    {{ site.github_username }}
  </a>

  <a href="https://twitter.com/{{ site.twitter_username }}">
    <i class="icon-twitter"></i>
    {{ site.twitter_username }}
  </a>

  <p class="text">{{ site.description }}</p>

  {% for page in site.pages %}
    {% if page.title %}
    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
</div>

<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
<script src="/bower_components/masonry/dist/masonry.pkgd.min.js"></script>
<script src="/js/index.js"></script>
