<div class="row row--fluid">
  {% for datum in loop_data %}
    {% if forloop.first and loop_has_featured %}
      <div class="column medium-12 large-8 xlarge-6">
    {% else %}
     <div class="column medium-12 large-4 xlarge-3 {% if forloop.last %}end{% endif %}">
    {% endif %}
      <a
        href="
          {% if datum.link %}
            {{ datum.link | prepend: 'http://' }}
          {% elsif datum.location %}
            {{ datum.location | prepend: 'http://' }}
          {% endif %}"
        class="post"
        style="background-image: url(/assets/{{ datum.image }});"
      >
        {% if datum.video %}
        <div class="post__video">
          <video autoplay="autoplay" width="100%" muted loop>
            <source src="{{ datum.video }}.mp4" type="video/mp4" />
            <source src="{{ datum.video }}.webm" type="video/webm" />
            <source src="{{ datum.video }}.ogv" type="video/ogg" />
          </video>
        </div>
        {% endif %}
        <div class="post__body">
          <span class="post-meta">{{ datum.location }}</span>
          <h2>{{ datum.title }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
